@import url(reset.css);
@import url("https://fonts.googleapis.com/css2?family=Space+Mono:wght@700&display=swap");

:root {
  /* Colors */
  --clr-strong-cyan: hsl(172, 67%, 45%);
  --clr-very-dark-cyan: hsl(183, 100%, 15%);
  --clr-dark-grayish-cyan: hsl(186, 14%, 43%);
  --clr-grayish-cyan: hsl(184, 14%, 56%);
  --clr-light-grayish-cyan: hsl(185, 41%, 84%);
  --clr-very-light-grayish-cyan: hsl(189, 41%, 97%);
  --clr-white: hsl(0, 0%, 100%);

  /* Font */
  --ff-Space-Mono: "Space Mono", monospace;

  --fw-700: 700;
}

body {
  background-color: var(--clr-light-grayish-cyan);
  font-family: var(--ff-Space-Mono);
}

.page-heading {
  margin-block: 3rem;
  width: fit-content;
  margin-inline: auto;
}

.tip-container {
  /* 920px */
  width: min(100%, 57.5rem);
  min-height: 600px;
  background-color: var(--clr-white);
  border-radius: 1.875rem;
  margin-inline: auto;
}
